In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
import os
os.chdir(r"C:\Users\NEW USER\anaconda_projects")
print("Current working directory:", os.getcwd())
print(os.listdir(r"C:\Users\NEW USER\anaconda_projects"))

Current working directory: C:\Users\NEW USER\anaconda_projects
['49950659-38ff-46f1-ac3d-78c7b78e6776', 'db']

In [22]:
print(os.listdir(r"C:\Users\NEW USER\anaconda_projects"))

['49950659-38ff-46f1-ac3d-78c7b78e6776', 'db']

In [26]:
employee = pd.read_excel("employee_data.xlsx") 
print(employee)

      EmpID FirstName    LastName  StartDate   ExitDate  \
0      3427     Uriah     Bridges 2019-09-20        NaT
1      3428     Paula       Small 2023-02-11        NaT
2      3429    Edward        Buck 2018-12-10        NaT
3      3430   Michael     Riordan 2021-06-21        NaT
4      3431   Jasmine       Onque 2019-06-29        NaT
...     ...       ...         ...        ...        ...
2995   3422    Jakobe    Erickson 2022-06-22 2022-08-07
2996   3423    Adyson  Strickland 2020-12-28        NaT
2997   3424   Annabel     Wilkins 2020-12-09 2022-08-04
2998   3425    Kendra       Braun 2019-05-28 2021-10-23
2999   3426     Chace        Kerr 2022-04-27        NaT

                        Title          Supervisor  \
0     Production Technician I        Peter Oneill
1     Production Technician I     Renee Mccormick
2          Area Sales Manager      Crystal Walker
3          Area Sales Manager      Rebekah Wright
4          Area Sales Manager           Jason Kim
...                       ...                 ...
2995  Production Technician I      Bethany Carter
2996  Production Technician I     Caroline Harris
2997  Production Technician I  Mr. James Castillo
2998  Production Technician I       Michael Woods
2999  Production Technician I       Javier Mccall

                              ADEmail BusinessUnit          EmployeeStatus  \
0         uriah.bridges@bilearner.com         CCDR                  Active
1           paula.small@bilearner.com           EW                  Active
2           edward.buck@bilearner.com           PL                  Active
3       michael.riordan@bilearner.com         CCDR                  Active
4         jasmine.onque@bilearner.com          TNS                  Active
...                               ...          ...                     ...
2995    jakobe.erickson@bilearner.com          PYZ        Leave of Absence
2996  adyson.strickland@bilearner.com          SVG                  Active
2997    annabel.wilkins@bilearner.com          TNS  Voluntarily Terminated
2998       kendra.braun@bilearner.com          WBL  Voluntarily Terminated
2999         chace.kerr@bilearner.com          BPC                  Active

      ...               Division                  DOB State  \
0     ...   Finance & Accounting  1969-07-10 00:00:00    MA
1     ...                 Aerial           30-08-1965    MA
2     ...          General - Sga  1991-06-10 00:00:00    MA
3     ...   Finance & Accounting  1998-04-04 00:00:00    ND
4     ...          General - Con           29-08-1969    FL
...   ...                    ...                  ...   ...
2995  ...              Engineers           23-06-1998    MA
2996  ...              Engineers  2001-10-06 00:00:00    MA
2997  ...  Wireline Construction           27-01-1997    MA
2998  ...                 Aerial           28-05-1954    MA
2999  ...       Field Operations  1990-11-09 00:00:00    MA

     JobFunctionDescription GenderCode LocationCode  RaceDesc MaritalDesc  \
0                Accounting     Female        34904     White     Widowed
1                     Labor       Male         6593  Hispanic     Widowed
2                 Assistant       Male         2330  Hispanic     Widowed
3                     Clerk       Male        58782     Other      Single
4                   Laborer     Female        33174     Other     Married
...                     ...        ...          ...       ...         ...
2995        Model Assistant     Female        44500     Other     Widowed
2996               Engineer       Male        35444     Black     Widowed
2997                Laborer       Male         6608     White      Single
2998                Foreman     Female         3807  Hispanic    Divorced
2999   Warehouse Technician     Female        57487     White     Married

     Performance Score Current Employee Rating
0          Fully Meets                       4
1          Fully Meets                       3
2          Fully Meets                       4
3          Fully Meets                       2
4          Fully Meets                       3
...                ...                     ...
2995       Fully Meets                       3
2996       Fully Meets                       3
2997       Fully Meets                       2
2998       Fully Meets                       2
2999       Fully Meets                       2

[3000 rows x 26 columns]